@font-face {
    font-family: 'Game Of Squids';
    src: url('./static/fonts/GameOfSquids.eot');
    src: url('./static/fonts/GameOfSquids.eot') format('embedded-opentype'),
        url('./static/fonts/GameOfSquids.woff2') format('woff2'),
        url('./static/fonts/GameOfSquids.woff') format('woff'),
        url('./static/fonts/GameOfSquids.svg') format('svg'),
        url('./static/fonts/GameOfSquids.ttf') format('ttf');
    src: url('./static/fonts/GameOfSquids.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.img {
    pointer-events: none; user-select: none;
}

body {
    font-family: 'Game of Squids';
     font-weight: normal;
      font-style: normal;
      user-select: none;
      /* font-size: 15px; */
      /* width: 120%; */
      outline: none;
}

.logo {
    z-index: 5;
    display: block;
    background-image: url(./static/icons/SquidGametext.png);
    position: fixed;
    top: 5%;
    right: 20%;

}

.textbox {
    display: flex;
    flex-direction: column;

    /* opacity: 0.5; */
    position: fixed;
    bottom: 6%;
    padding: 2px;
    width: 95%;
   
    height: 35vw;
    text-align: center;

background: rgba(0, 0, 0, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 0, 0, 0.3);
 
}
.pointshow {
    position: fixed;
    color: white;
    font-size: 24px;
    line-height: 4.5vh;
    top: 5%;
    padding: 5px;
    height: 4.5vh;
    text-align: center;
    width: 80vw;
    left: 8.2%;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    border-radius: 16px;
    overflow: hidden;
}

.total {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 30vw;
    padding-right: 10px;
    color: white;
    font-size: 20px;
    top: 22%;
    left: 3%;
    padding: 5px;
    height: 4.5vh;
    text-align: left;
    left: 5.5%;
    width: 85vw;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    border-radius: 16px;
    overflow: hidden;
}


.button {
    font-family: 'Game of Squids';
    border: none;
    position: fixed;
    text-align: center;
    position: center;
    border-radius: 16px;
    width: 70%;
    bottom: 9%;
    left: 15%;
    height: 10vw;
    color: white;
    align-items: center;
    line-height: 10vw;
    font-size: 25px;
    background-image: linear-gradient(180deg, #BC0229 -10.71%, #63182F 84.58%);
    overflow: hidden;
}
.button2 {
    
    background: transparent;
    transition: transform 0.2s ease;
    outline: none;
}


.buttontag {
    position: fixed;
    width: 100px; 
    /* 115 */
    height: 300px;
    /* 330 */
    background: none;
    border: none;
    position: fixed;
    bottom: 20%;
    left: 35%;
    outline: none;
}

.logo2 {
    transform: scale(1.2) rotate(-90deg);
    opacity: 0.15;
    /* transform: rotate(-90deg); */
    position: fixed;
    top: 25%;
    right: -10%;
    overflow: hidden;
}

.points {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: white;
    animation: fadeUp 1s forwards;
    pointer-events: none;
  }

  @keyframes fadeUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }



.footer {
    z-index: 20;
    outline: none;
    display: flex;
    flex-direction: row;
    gap: 12vw;
    align-items: center;
    padding-top: 5px;
    /* padding-right: 5px; */
    position: fixed;
    bottom: 3%;
    left: 7.5%;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    border-radius: 15px;
    width: 85vw;
    justify-content: center;
    height: 55px;
    user-select: none;
}
.right-do {
    border-radius: 50%;
    border: solid white 2px;
    width: fit-content;
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    background:none;
    font-size: 18px;
    padding-left: 4px;

}
.right-do-img {

    border-radius: 50%;
    border: solid white 2px;
    width: fit-content;
    color: white;
    background: none;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    background:none;
    font-size: 18px;
    padding-left: 4px;
    padding-top: 4px;

}
.left-info {
    color: white;
}
.left-info-partners {
    color: white;

}

.container2 {
    display: flex;
    position: fixed;
    top: 35%;
    height: 93vw;
    gap: 20px;
    left: 3%;
    flex-direction: column;
    width: 98%;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
.container3 {
    display: flex;
    position: fixed;
    top: 33%;
    height: 41vh;
    gap: 5px;
    left: 3%;
    flex-direction: column;
    width: 98%;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.mission {
    gap: 25vw;
    align-items: center;
    justify-content: center;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    display: flex;
    flex: row;
    width: 95%;
    font-size: 12px;
    border-radius: 21px;
    height: 42px;
}
.mission-partners {
    gap: 25vw;
    align-items: center;
    justify-content: center;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    display: flex;
    flex: row;
    left: 50%;
    width: 70%;
    font-size: 12px;
    border-radius: 21px;
    height: 42px;
}

.mission2 {
    gap: 25vw;
    align-items: center;
    justify-content: center;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    display: flex;
    flex: row;
    width: 95%;
    font-size: 12px;
    border-radius: 21px;
    height: 42px;

}

.fren {
    border:solid rgba(233, 62, 125, 0.77) 2px;
    display: flex;
    border-radius: 16px;
    height: 45px;
    margin-left: 6.6%;
    line-height: 18px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    color: white;
    gap: 14vw;
    width: 95%;
    white-space: nowrap;
}
.copy-button {
    background: rgba(232, 10, 82, 1);
    width: 85%;
    left: 7%;
    position: fixed;
    bottom: 15%;
    font-family: 'Game of Squids';
    height: 5.5vh;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid rgba(233, 62, 125, 0.77);
    box-sizing: border-box; /* Ensures borders don't affect the width */
}

.copy-button:hover {
    outline: none;
    background: rgba(255, 50, 100, 1); /* Slightly brighter color */
    color: #f3f3f3; /* Slightly lighter text color */
    box-shadow: 0px 4px 10px rgba(232, 10, 82, 0.5); /* Add a shadow effect */
    transform: scale(1.05); 
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.copy-button:active {
    outline: none;
    background: rgba(200, 0, 70, 1);
    border-color: rgba(233, 62, 125, 1);
    transform: scale(0.98); /* Scale slightly for active state */
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 85%; /* Explicitly set width to avoid any change */
    left: 7%; /* Ensures consistent positioning */
}
.container4 {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 12%;
    gap: 20px;
    

}

.timer {
    font-family: 'roboto';
    font-weight: 900;
    font-size: 25px;
    border: solid rgba(233, 62, 125, 0.77) 2px;
    background-color: rgba(182, 2, 73, 1);
    width: 75px;
    height: 75px;
    color: white;
    text-align: center;
    border-radius: 16px;
    justify-content: center;
    line-height: 0.7;
    /* padding-bottom: 10px; */
}

.buy-button {
    color: white;
    font-family: 'Game of Squids';
        border: solid rgba(233, 62, 125, 0.77) 2px;
    background-color: rgba(182, 2, 73, 1);
    width: 90%;
    left: 5%;
    bottom: 15%;
    position: fixed;
    height: 55px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 16px;
}




 /* لایه تاریک بالا */
 #popup-overlay {
    display: none;
    position: fixed;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%; /* نیمه بالایی صفحه */
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    opacity: 1;
}

/* پاپ‌آپ */
#popup-container {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 2%;
    width: 95%;
    height: 35%; /* نیمه پایینی صفحه */
    /* background: transparent; */
    border-radius: 16px 16px 0 0;
    z-index: 25;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
}
.popup-container2 {
    /* display: none; */
    flex-direction: column;
    position: fixed;
    bottom: 25%;
    width: 95%;
    height: 35%; /* نیمه پایینی صفحه */
    /* background: transparent; */
    border-radius: 16px;
    z-index: 25;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
}


#popup-container-win {    
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 2%;
    width: 95%;
    height: 70%; /* نیمه پایینی صفحه */
    /* background: transparent; */
    border-radius: 16px 16px 0 0;
    z-index: 25;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);}

    #popup-container-lose{    
        display: none;
        flex-direction: column;
        position: fixed;
        bottom: 2%;
        width: 95%;
        height: 70%; /* نیمه پایینی صفحه */
        /* background: transparent; */
        border-radius: 16px 16px 0 0;
        z-index: 25;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);}

#popup-container h3 {
    color: white;
    margin-top: 20px;
}





#popup-container a {
   color: white;
   font-size: 25px;
   text-decoration: none;
   user-select: none; outline: none;  -webkit-tap-highlight-color: transparent; 
   position: fixed;
   right: 7%;
   margin-top: -5%;
}

/* غیرفعال کردن اسکرول هنگام نمایش پاپ‌آپ */
body.popup-active {
    overflow: hidden;
}



.inactive {
    outline: none;
    font-family: 'Game of Squids';
    border: solid rgba(128, 35, 69, 0.99) 2px;
    opacity: 0.75;
    background: none;
    color: white;
    border-radius: 15px;
    width: 130px;
}
.active {
    outline: none;
    font-family: 'Game of Squids';
    border: solid rgba(233, 62, 125, 0.77) 2px;
    background: none;
    color: white;
    border-radius: 15px;
    width: 130px;
}

.coin {
    position: fixed;
     top: -1.5%;
     left: 25%;
     overflow: h;
    display: flex;
    width: 200px;
    height: 300px;
    transform: scale(0.35);
    justify-content: center;
    align-items: center;
    /* perspective: 1000px;  Add perspective to create a 3D effect  */
    margin: 50px auto;
}


/* .coin img {
    width: 100%;  Coin image fills the container 
    height: auto;
    transform-style: preserve-3d;  Ensures 3D transformations apply 
    animation: spin 8s infinite linear; Rotates infinitely
  } */


  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
      /* Coin flips edge-on here, looks thinner */
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  

  .question-box {
    border: solid rgba(233, 62, 125, 0.77) 2px;
    border-radius: 16px;
    height: 100vw;
    width: 95%;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 2%;
  }


  input[type="text"] {
    background-color: rgba(20, 4, 8, 1);
    width: 85%; /* Full-width input */
    padding: 10px; /* Inner padding */
    font-family: 'Game of Squids';

    margin: 10px 0; /* Margin above and below */
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Text size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    border: solid rgba(233, 62, 125, 0.77) 2px;
  }

  /* Change styles when input is focused */
  input[type="text"]:focus {
    color: white;
    font-family: 'Game of Squids';
    border: solid rgba(233, 62, 125, 0.77) 2px;
    /* border-color: #007bff; Blue border */
    outline: none; /* Removes default outline */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Blue glow */
  }

  /* Styling placeholder text */
  input[type="text"]::placeholder {
    color: #aaa; /* Light gray */
    font-style: italic; /* Italic text */
  }

  .wrapper-box {

    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coin.fade-scale {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }


